a:hover {
  text-decoration: none;
}

path {
  fill: white;
}

#n-korea:hover {
  fill: lightblue;
}

#india:hover path,
#sri-lanka:hover path,
#singapore:hover path,
#thailand:hover path,
#malaysia:hover > path,
#hong-kong:hover path,
#korea:hover path,
#philippines:hover path,
#indonesia:hover path,
#pak:hover path,
#china:hover path,
#vietnam:hover path {
  fill: #ffaca3;
  transition: fill 0.3s ease;
}

.svg-map-hover {
  fill: #ffaca3;
  transition: fill 0.3s ease;
}

.india-hover-box,
.singapore-hover-box,
.indonesia-hover-box,
.hong-kong-hover-box,
.malaysia-hover-box,
.thailand-hover-box,
.philippines-hover-box,
.vietnam-hover-box,
.china-hover-box,
.sri-lanka-hover-box,
.korea-hover-box,
.pak-hover-box {
  /* display: none; */
  visibility: hidden;
  position: absolute;
  height: 0;
  transform: translate(0vw, -170%);
  width: 175px;
  background-color: #fff;
  border-radius: 10px;
  /* border-radius: 50%; */
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
  /* , display 0.2s ease 0.5s; */
}
.india-hover-box {
  transform: translate(27.2vw, -156%);
}

.singapore-hover-box {
  transform: translate(29vw, -110%);
}

.indonesia-hover-box {
  transform: translate(14vw, -90%);
}

.hong-kong-hover-box {
  transform: translate(29vw, -105%);
}

.malaysia-hover-box {
  transform: translate(17vw, -122%);
}

.thailand-hover-box {
  transform: translate(32vw, -130%);
}

.philippines-hover-box {
  transform: translate(23vw, -110%);
}

.vietnam-hover-box {
  transform: translate(32vw, -120%);
}

.china-hover-box {
  transform: translate(35vw, -156%);
}

.sri-lanka-hover-box {
  transform: translate(9vw, -100%);
}

.korea-hover-box {
  transform: translate(26vw, -170%);
}

.pak-hover-box {
  transform: translate(160px, -180px);
}

@media only screen and (max-width: 768px) {
  .india-hover-box,
  .singapore-hover-box,
  .indonesia-hover-box,
  .hong-kong-hover-box,
  .malaysia-hover-box,
  .thailand-hover-box,
  .philippines-hover-box,
  .vietnam-hover-box,
  .china-hover-box,
  .sri-lanka-hover-box,
  .korea-hover-box,
  .pak-hover-box {
    visibility: hidden;
    height: 0;
    position: relative;
    margin: 0 auto;
    transform: none;
    transition: 0.5s;
  }
}

div.map-hover {
  /* display: block; */
  padding: 1.5rem;
  height: 175px;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
}

div.hb p {
  color: #ffaca3;
  text-transform: uppercase;
  font-weight: bold;
}

div.map-hover h3 {
  /* color: #fff; */
}

.fa-bitcoin {
  color: #ffaca3;
}
